#how-works {
    text-align: center;
    background-color: $back_theme;
    padding-bottom: 100px;

    h2 {
        padding: 80px 250px;
    }

    h2.last{
        padding-top: 120px;
        padding-bottom: 0;
    }

    h4 {
        font-weight: 400;
        margin-top: 20px;
        line-height: 1.6;
    }


    .content-flex {
        display: flex;
        justify-content: center;
        padding-right: 120px;
        padding-left: 120px;

        .block {
            text-align: center;
            width: 280px;
            margin-left: 10px;
            margin-right: 10px;
            margin-bottom: 100px;

            img {
                width: 140px;
                height: 100px;
                object-fit: contain;
            }
        }
    }

    img {
        width: 300px;
        display: block;
        margin: auto;
    }

    .container.first {
        border-bottom: 1px solid rgba(0, 0, 0, 0.3);
        padding-bottom: 120px;
    }
}


#screenshots {

    h3 {
        @include h3_style(20px, 400, 1.5);
        margin-top: 20px;
    }
    padding-top: 100px;

    .window-img {
        width: 50%;

        img {
            max-width: 768px;
        }
    }

    .description {
        width: 50%;

        img {
            max-width: 270px;
            margin-left: 50px;
            margin-right: 50px;
        }

        h2,h3,a,img {
            width: 70%;
        }

        h2, h3, a {
            text-align: left;
        }

        a {
            text-decoration: none;
            margin-top: 40px;
            margin-bottom: 40px;
            font-size: 20px;
        }
    }

    .row {
        display: flex;
        margin-bottom: 150px;
    }

    .row.left {
        .window-img {
            display: flex;
            justify-content: flex-end;
            padding-right: 20px;
        }

        .description {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }
    }
    .row.right {
        .window-img {
            display: flex;
            justify-content: flex-start;
            padding-left: 20px;
        }

        .description {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
        }
    }

    .row:last-child {
        margin-bottom: 60px;
    }
}

#get-started {
    background-color: $back_theme;
    padding-bottom: 50px;

    h2 {
        text-align: center;
        font-size: 37px;
        font-weight: 500;
        padding-top: 80px;
        margin-bottom: 50px;
    }


    .quote {
        width: 55%;
        background-color: #fff;
        border: 1px solid $font_color_theme;
        border-radius: 8px;
        margin: auto;
        padding: 20px 30px;
        text-align: left;
        margin-bottom: 40px;

    }

    img.profile {
        width: 40px;
        vertical-align: middle;
        margin-right: 10px;
        margin-top: 30px;
    }

    .names {
        display: inline-block;
        vertical-align: middle;
        margin-top: 30px;

        .who {
            font-size: 14px;
            color: blue;
        }

        .profession {
            font-size: 13px;
        }
    }

    .form {
        margin: auto;
        text-align: center;

        span {
            font-size: 13px;
            font-weight: 400;
            opacity: 0.5;
            padding: 10px;
        }

        p {
            font-size: 13px;
            font-weight: 400;
            margin-top: 20px;
        }
    }
}
