* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  color: #58402c;
}

button {
  height: 35px;
  line-height: 35px;
  padding: 0 20px;
  color: #fff;
  font-size: 14px;
  background: #30488f;
  border-radius: 7px;
  border: none;
}

button img {
  width: 18px;
  vertical-align: middle;
  margin-right: 10px;
}

.clearfix {
  content: "";
  clear: both;
  display: table;
}

.container {
  max-width: 1150px;
  margin: auto;
}

header {
  height: 75px;
  width: 100%;
  position: fixed;
  background-color: #fff;
}

header img {
  width: 110px;
}

header .header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

header .header-right li {
  display: inline-block;
  line-height: 75px;
  margin-left: 40px;
}

header .header-right li a {
  text-decoration: none;
  font-size: 13px;
  font-weight: 600;
  color: #58402c;
}

header .header-right li a.signup {
  border: 1px solid #30488f;
  border-radius: 8px;
  padding: 7px 10px;
  color: #30488f;
}

header .header-right li a.signup img {
  width: 18px;
  margin-right: 10px;
  vertical-align: middle;
}

.jumbotron {
  padding-top: 180px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 130px;
}

.jumbotron .jumbotron-left {
  width: 50%;
  padding-right: 50px;
}

.jumbotron .jumbotron-left h1 {
  font-size: 45px;
  font-weight: 500;
  line-height: 1.5;
  padding-bottom: 30px;
}

.jumbotron .jumbotron-left h3 {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
  padding-bottom: 40px;
}

.jumbotron .jumbotron-left span {
  font-size: 13px;
  font-weight: 400;
  opacity: 0.5;
  padding: 10px;
}

.jumbotron .jumbotron-left p {
  font-size: 13px;
  font-weight: 400;
  margin-top: 20px;
}

.jumbotron .jumbotron-right {
  width: 50%;
}

.jumbotron .jumbotron-right img {
  width: 100%;
}

#how-works {
  text-align: center;
  background-color: #ffe7d2;
  padding-bottom: 100px;
}

#how-works h2 {
  padding: 80px 250px;
}

#how-works h2.last {
  padding-top: 120px;
  padding-bottom: 0;
}

#how-works h4 {
  font-weight: 400;
  margin-top: 20px;
  line-height: 1.6;
}

#how-works .content-flex {
  display: flex;
  justify-content: center;
  padding-right: 120px;
  padding-left: 120px;
}

#how-works .content-flex .block {
  text-align: center;
  width: 280px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 100px;
}

#how-works .content-flex .block img {
  width: 140px;
  height: 100px;
  -o-object-fit: contain;
     object-fit: contain;
}

#how-works img {
  width: 300px;
  display: block;
  margin: auto;
}

#how-works .container.first {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  padding-bottom: 120px;
}

#screenshots {
  padding-top: 100px;
}

#screenshots h3 {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
}

#screenshots .window-img {
  width: 50%;
}

#screenshots .window-img img {
  max-width: 768px;
}

#screenshots .description {
  width: 50%;
}

#screenshots .description img {
  max-width: 270px;
}

#screenshots .description h2,
#screenshots .description h3,
#screenshots .description img {
  width: 40%;
}

#screenshots .description h2,
#screenshots .description h3 {
  text-align: left;
}

#screenshots .row {
  display: flex;
  margin-bottom: 150px;
}

#screenshots .row.left .window-img {
  display: flex;
  justify-content: flex-end;
  padding-right: 20px;
}

#screenshots .row.left .description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#screenshots .row.right .window-img {
  display: flex;
  justify-content: flex-start;
  padding-left: 20px;
}

#screenshots .row.right .description {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

