* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  color: #58402c;
}

button {
  height: 35px;
  line-height: 35px;
  padding: 0 20px;
  color: #fff;
  font-size: 14px;
  background: #30488f;
  border-radius: 7px;
  border: none;
}

button img {
  width: 18px;
  vertical-align: middle;
  margin-right: 10px;
}

.container {
  max-width: 1150px;
  margin: auto;
}

header {
  height: 75px;
  width: 100%;
  position: fixed;
}

header img {
  width: 110px;
}

header .header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

header .header-right li {
  display: inline-block;
  line-height: 75px;
  margin-left: 40px;
}

header .header-right li a {
  text-decoration: none;
  font-size: 13px;
  font-weight: 600;
  color: #58402c;
}

header .header-right li a.signup {
  border: 1px solid #30488f;
  border-radius: 8px;
  padding: 7px 10px;
  color: #30488f;
}

header .header-right li a.signup img {
  width: 18px;
  margin-right: 10px;
  vertical-align: middle;
}

.jumbotron {
  padding-top: 180px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.jumbotron .jumbotron-left {
  width: 50%;
  padding-right: 20px;
}

.jumbotron .jumbotron-left h1 {
  font-size: 45px;
  font-weight: 500;
  line-height: 1.5;
  padding-bottom: 30px;
}

.jumbotron .jumbotron-left h3 {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
  padding-bottom: 40px;
}

.jumbotron .jumbotron-left span {
  font-size: 13px;
  font-weight: 400;
  opacity: 0.5;
  padding: 10px;
}

.jumbotron .jumbotron-left p {
  font-size: 13px;
  font-weight: 400;
  margin-top: 20px;
}

.jumbotron .jumbotron-right {
  width: 50%;
}

.jumbotron .jumbotron-right img {
  width: 100%;
}

